@media screen and (max-width: 1160px) {
  .container {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .main {
    background-position: top 0 right calc(50% - 307px);

    .container {
      padding: 100px 0 108px 0;

      .main-block__map {
        grid-row: 3 / 5;
        grid-column: 2 / 4;

        .map-date {
          bottom: -14px;
          left: -90px;
        }

      }
    }

  }


  //------------country-------------//
  .country {
    padding: 80px 0 65px 0;
    background-color: @second-color;


    .container {
      display: grid;
      column-gap: 0px;
      grid-template-columns: 540px 360px;
      justify-content: space-between;
    }
  }

  //why
  .why {
    .why-block {
      .container {
        .second {
          margin-top: -19px;
          width: 240px;

          align-items: center;
          justify-self: center;
          grid-row: 2 / 4;
          grid-column: 1 / 3;
        }

        .fourth {
          width: 240px;
          margin: 10px 0px 23px 130px;
          justify-self: center;
          grid-row: 1 / 4;
          grid-column: 3 / 5;
        }
      }
    }
  }

  //--------------places----------------
  .places {
    padding: 65px 0 124px 0;
    background-color: @second-color;

    .container {
      .places-title {
      }

      .places-block {
        align-items: flex-end;
        gap: 20px;

        .places-map {
        }

        .places-info {


          .places-info__title {
          }

          .places-info__text {
          }

          .iceland-laguna {

            .places-info__img {
            }
          }
        }
      }
    }
  }

  .iceland-laguna::after {
  }


  //-----------------------video--------------------//
  .video {
    .container {
      .video-frame {
        width: 100%;
        height: 500px;
      }
    }
  }


  //----------------programs------------------//
  .program {
    .container {
      .program-block {
        column-gap: 20px;

        grid-template-columns: 475px 440px;
        row-gap: 45px;

        .program-photo {
          justify-self: center;
        }
      }
    }
  }
  .program-photo::before {
    content: "";
    position: absolute;
    top: -34px;
    right: 35px;
    width: 400px;
    height: 448px;
    background-color: #ffffff;
    z-index: -1;
  }

  //----------------Testimonials-------------//

  .testimonials {
        .testimonials-title {
    }

    .container {
      .testimonials-block {
        justify-content: space-between;
        display: grid;
        column-gap: 18px;
        grid-template-columns: 440px 350px;
        grid-template-rows: 25px 38px auto 46px;
        background-color: @main-color;

        .testimonials-name {

        }

        .testimonials-rate {

        }

        .testimonials-text {

        }

        .testimonials-navigation {

          .testimonials-prev {
            border: 1px solid @second-color;

            &:hover {
              opacity: 60%;
              transition: opacity 0.2s;
            }
          }

          .testimonials-next {

            &:hover {

            }
          }
        }
        .testimonials-photo {

          width: 100%;
          height: 350px;
        }
      }
    }
  }


  //-------------Carousel-------------//
  .gallery {
    padding: 90px 0;
    background: @second-color;

    .gallery-title {
      text-align: center;
      font-family: Montserrat-SemiBold, sans-serif;
      font-size: 35px;
      color: @main-color;
      margin-bottom: 60px;
    }

    .container {
      .gallery-carousel-pc {

        .carousel-item-pc {
          display: grid !important;
          grid-template-columns: 270px 140px 210px 250px;
          grid-template-rows: 190px 190px;
          column-gap: 20px;

          .photo-11{
            img{
              width: 270px;
              height: 280px;

            }
          }
          .photo-21 {

            img{
              width: 270px;
              height: 280px;
            }
          }

          .photo-12 {

            img{
              width: 140px;
              height: 140px;
              object-fit: cover;
            }
          }
          .photo-22 {

            img{
              width: 140px;
              height: 140px;
            }
          }
          .photo-13 {

            img{
              width: 190px;
              height: 135px;
              object-fit: cover;
            }
          }
          .photo-23 {
            img{
              width: 190px;
              height: 135px;
              object-fit: cover;
            }
          }
          .photo-14 {

            img{
              width: 285px;
              height: 155px;
              object-fit: cover;
            }
          }
          .photo-24 {

            img{
              width: 285px;
              height: 155px;
              object-fit: cover;
            }
          }
          .photo-15 {

            img{
              width: 250px;
              height: 380px;
              object-fit: cover;
            }
          }
          .photo-25 {
            img{
              width: 250px;
              height: 380px;

            }
          }
        }
      }
    }
  }





}


@media screen and (max-width: 990px) {
  .container {
    max-width: 750px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .main {
    background-position: top 0 right calc(50% - 343px);

    .container {
      padding: 100px 0 108px 0;

      .main-title {
        h1 {
          font-size: 45px;
        }

      }

      .main-block__title {
        h2 {
          font-size: 26px;
        }
      }

      .main-block__map {
        grid-row: 3 / 5;
        justify-self: flex-end;
        grid-column: 1 / 4;
        top: 35px;
        right: 115px;

        .map-date {
          bottom: -14px;
          left: -90px;
        }

      }

      .video-btn {
        justify-self: flex-start;
      }
    }

  }


  //-------country----------//
  .country {
    padding: 80px 0 50px 0;

    .container {
      display: grid;
      column-gap: 30px;
      grid-template-columns: 330px 360px;

      justify-content: center;

      .country-image {


        img {
          width: 280px;
        }

        &::before {
          top: -40px;
          left: -25px;
          width: 230px;
          height: 260px;

        }
      }

      .country-title {
      }

      .country-text {
      }
    }
  }


  //-----------why----------//
  .why {
    .why-block {
      .container {
        .first {
          width: 240px;
          margin: 0 0 0 -70px;
        }

        .second {
          margin: 0 0 0 0;
          width: 240px;

          align-items: center;
          justify-self: center;
          grid-row: 2 / 4;
          grid-column: 1 / 3;
        }

        .fourth {
          width: 240px;
          margin: 0px 0px 19px -33px;
          justify-self: center;
          grid-row: 1 / 4;
          grid-column: 3 / 5;
        }
      }
    }
  }

  //--------------places----------------
  .places {
    padding: 50px 0 100px 0;
    background-color: @second-color;

    .container {
      .places-title {
      }

      .places-block {
        align-items: center;
        gap: 40px;
        flex-direction: column;

        .places-map {
        }

        .places-info {


          .places-info__title {
          }

          .places-info__text {
          }

          .iceland-laguna {
            left: 10px;

            .places-info__img {
            }
          }
        }
      }
    }
  }

  //----------------programs------------------//
  .program {
    padding: 80px 0 90px 0;

    .container {
      h1 {
        margin-bottom: 30px;
      }

      .program-block {
        column-gap: 10px;
        grid-template-rows: auto 50px auto 47px auto;
        grid-template-columns: 330px 365px;
        row-gap: 45px;

        .program-photo {
          top: 60px;
          width: 300px;
          height: 280px;


          .day-photo {
            background-size: cover;
            width: 300px;
            height: 280px;

          }
        }

        .program-text {
          font-size: 14px;
        }

        .program-download {
          font-size: 14px;
          margin: -20px 0 0 0;
        }
      }
    }
  }

  .program-photo::before {
    width: 265px;
    height: 328px;
    top: -22px;
    left: -15px;
  }

  //----------------Testimonials-------------//

  .testimonials {
    .testimonials-title {
    }

    .container {
      .testimonials-block {
        grid-template-columns: 330px 270px;
        grid-template-rows: 25px 38px auto 46px;

        .testimonials-name {

        }

        .testimonials-rate {

        }

        .testimonials-text {

        }

        .testimonials-navigation {

          .testimonials-prev {
            border: 1px solid @second-color;

            &:hover {
              opacity: 60%;
              transition: opacity 0.2s;
            }
          }

          .testimonials-next {

            &:hover {

            }
          }
        }
        .testimonials-photo {

          width: 100%;
          height: 360px;
        }
      }
    }
  }

  //-------------Carousel-------------//
  .gallery {
    padding: 90px 0;
    background: @second-color;

    .gallery-title {
      text-align: center;
      font-family: Montserrat-SemiBold, sans-serif;
      font-size: 35px;
      color: @main-color;
      margin-bottom: 60px;
    }

    .container {
      .gallery-carousel-pc {

        .carousel-item-pc {
          display: grid !important;
          grid-template-columns: 215px 95px 165px 210px;
          grid-template-rows: 190px 190px;
          column-gap: 15px;

          .photo-11{
            img{
              width: 215px;
              height: 295px;

            }
          }
          .photo-21 {

            img{
              width: 215px;
              height: 295px;
            }
          }

          .photo-12 {

            img{
              width: 95px;
              height: 95px;
              object-fit: cover;
            }
          }
          .photo-22 {

            img{
              width: 95px;
              height: 95px;
            }
          }
          .photo-13 {

            img{
              width: 165px;
              height: 145px;
              object-fit: cover;
            }
          }
          .photo-23 {
            img{
              width: 165px;
              height: 145px;
              object-fit: cover;
            }
          }
          .photo-14 {

            img{
              width: 265px;
              height: 170px;
              object-fit: cover;
            }
          }
          .photo-24 {

            img{
              width: 265px;
              height: 170px;
              object-fit: cover;
            }
          }
          .photo-15 {

            img{
              width: 210px;
              height: 380px;
              object-fit: cover;
            }
          }
          .photo-25 {
            img{
              width: 210px;
              height: 380px;

            }
          }
        }
      }
    }
  }




}


@media screen and (max-width: 930px) {

  .why {
    padding: 50px 0;

    .why-title {
      font-size: 25px;
      max-width: 420px;
      padding: 0 18px;
    }

    .why-block {
      padding: 60px 0 0 0;
      max-width: 100%;
      max-height: 100%;
      background-image: url("/assets/images/adaptiveBG.png");
      background-repeat: no-repeat;
      background-size: 880px 955px;
      background-position: top 0px left calc(50% - 90px);


      .container {
        display: grid;
        grid-template-columns: 240px;
        justify-content: center;
        row-gap: 70px;

        .first {
          width: 240px;
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          margin: 0 0 0 0;

          .number {
            margin-bottom: 25px;
            width: 50px;
            height: 50px;
          }
        }

        .second {
          width: 240px;
          grid-row: 2 / 3;
          grid-column: 1 / 2;
          margin: 0 0 0 0;

          .number {
            margin-top: 25px;
            width: 50px;
            height: 50px;

            p {
              font-size: 25px;
            }
          }
        }

        .third {
          width: 240px;
          grid-row: 3 / 4;
          grid-column: 1 / 2;
          margin: -20px 0 0px 0px;

          .number {
            margin-bottom: 25px;
            width: 50px;
            height: 50px;

            p {
              font-size: 25px;
            }
          }
        }

        .fourth {
          width: 240px;
          grid-row: 4 / 5;
          grid-column: 1 / 2;
          margin: 0 0 0 0;

          .number {
            margin-top: 25px;
            width: 50px;
            height: 50px;

            p {
              font-size: 25px;
            }
          }
        }
      }
    }
  }

  .reasonTitle() {
    font-size: 14px;

  }
}


@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .main {
    background-position: top 0 left 0;

    background-size: 800px 480px;
    background-image: url("/assets/images/phone.png");

    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 90px 335px 110px 280px 110px;
      justify-items: center;
      padding: 55px 0 80px 0;

      .main-title {
        justify-self: center;
        text-align: center;

        grid-row: 1 / 2;
        grid-column: 1 / 2;

        h1 {
          font-size: 30px;
          color: @main-color;
          margin: 0 0 0 0;

        }
      }

      .main-block__title {
        align-self: flex-end;
        max-width: 500px;
        padding: 0 55px;
        text-align: center;
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        margin-bottom: 0px;

        h2 {
          line-height: 1;
          font-size: 20px;

          span {
            color: @second-color;
          }
        }
      }

      .order-btn {
        height: 60px;
        grid-row: 5 / 6;
        grid-column: 1 / 2;
        align-self: flex-end;
      }

      .video-btn {
        align-self: flex-start;
        justify-self: center;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        justify-content: center;

        img {
          width: 45px;
          height: 45px;
        }
      }


      .main-block__map {
        align-self: center;
        top: -10px;
        right: 25px;
        justify-self: center;
        grid-row: 4 / 5;
        grid-column: 1 / 2;

        .map-date {
          bottom: -45px;
          left: 0px;
        }

        .map-cost {
          top: 70px;
          left: 65px;
        }

        .map-place {
          width: 70px;
          line-height: 1;
          display: flex;
          position: absolute;
          flex-direction: column;
          gap: 5px;
          top: 35px;
          right: -60px;

        }

        .map-adaptive {
          display: block;
        }

        .map-pc {
          display: none;
        }
      }
    }

  }

  //-------country----------//
  .country {
    padding: 80px 0 50px 0;

    .container {
      display: grid;
      column-gap: 0px;
      grid-template-columns: 290px;
      grid-template-rows: 65px 180px 180px;
      row-gap: 40px;
      justify-items: center;

      .country-image {
        left: 13px;
        grid-column: 1/2;
        grid-row: 2/3;

        img {
          width: 265px;
          height: 176px;
        }

        &::before {
          top: -40px;
          left: -25px;
          width: 230px;
          height: 260px;

        }
      }

      .country-title {
        margin: 0 0 0 0;
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 25px;
        justify-self: flex-start;
      }

      .country-text {
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 14px;
        align-self: end;
        text-align: left;

      }
    }
  }


  .places {

    background-color: @second-color;

    .container {
      .places-title {
        font-size: 25px;
      }

      .places-block {

        align-items: center;
        gap: 40px;
        flex-direction: column;

        .places-map {
          img {
            width: 290px;
            height: 225px;
          }
        }

        .places-info {
          max-width: 290px;

          .places-info__title {
          }

          .places-info__text {
            font-size: 14px;


          }

          .iceland-laguna {
            left: 0px;

            .places-info__img {
              width: 235px;
              height: 165px;

            }
          }
        }
      }
    }
  }

  .iceland-laguna::after {
    content: "";
    position: absolute;
    top: -22px;
    left: 70px;
    width: 220px;
    height: 210px;
    background-color: @main-color;
    z-index: -1;
  }


  //burger menu
  body.lock {
    overflow: hidden;
  }

  .header {
    position: relative;

    .header__logo {
      z-index: 6;
    }
  }

  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 6;

    span {
      background-color: @second-color;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      transition: all 0.4s ease 0s;
    }
  }

  .burger:before,
  .burger:after {
    content: '';
    background-color: @second-color;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    transition: all 0.4s ease 0s;

  }

  .burger:before {
    top: 0;
  }

  .burger:after {
    bottom: 0;
  }

  .burger.open:before {
    top: 9px;
    transform: rotate(45deg);
  }

  .burger.open:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .burger.open {
    span {
      transform: scale(0);
    }
  }


  .menu {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: -100%;
    left: 0;
    background: @main-color;
    z-index: 4;
    transition: all 0.4s ease 0s;

    ul {
      padding-top: 40px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      .menu__item {
        margin: 15px 0;
      }

    }

    &.open {
      padding-top: 80px;
      align-items: center;
      top: 0;
    }

  }


  .close {
    display: block;
    width: 24px;
    height: 24px;
    fill: @second-color;
    position: absolute;
    top: 40px;
    right: 60px;
  }


  //--------------------------video-------------------------//
  .video {
    .container {
      .video-frame {
        width: 100%;
        height: 350px;

        .play-button {
          left: calc(50% - 103px);
          top: calc(50% - 20px);


          gap: 10px;
          width: 206px;

          p {
            font-size: 13px;
          }

          img {
            width: 40px;
            height: 40px;

          }
        }
      }
    }
  }


  //----------------programs------------------//
  .program {
    padding: 80px 0 50px 0;

    .container {
      h1 {

          font-size: 25px;
        margin-bottom: 30px;
      }



      .program-block {
        display: grid;
        justify-items: flex-start;
        column-gap: 10px;
        grid-template-rows: 30px 25px 370px auto 46px;
        justify-content: center;
        grid-template-columns: 100%;
        row-gap: 40px;

        .program-photo {
          justify-self: flex-end;
align-self: center;
          grid-row: 3 / 4;
          grid-column: 1 / 2;

          top: 0;
          width: 96%;
          height: 325px;

          .day-photo {
            background-size: cover;
            width: 100%;
            height: 325px;

          }
        }

        .program-days {
          font-size: 20px;
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          margin: 0 0 0 0;
          .now-day{
            font-size: 20px;
          }
          .all-days{
            font-size: 14px;
          }
        }

        .program-title {
          align-self: flex-end;
          grid-row: 2 / 3;
          grid-column: 1 / 2;
          margin: 0;
        }

        .program-text {
          height: 90px;
          font-size: 14px;
          grid-row: 4 / 5;
          grid-column: 1 / 2;
        }

        .program-navigation {
          grid-row: 5 / 6;
          grid-column: 1 / 2;
        }

        .program-download {
          font-size: 14px;
          margin: 0 0 0 0;
          align-self: center;
          justify-self: flex-end;
          grid-row: 5 / 6;
          grid-column: 1 / 2;
        }
      }
    }
  }

  .program-photo::before {
    width: 80%;
    height: 370px;
    top: -22px;
    left: -20px;
  }


  //----------------Testimonials-------------//

  .testimonials {
    padding: 50px 0 40px 0;
    .testimonials-title {
      font-size: 25px;
      margin-bottom: 40px;
    }

    .container {
      .testimonials-block {
        padding: 25px;
        grid-template-columns: 1fr 0.7fr;
        grid-template-rows: 25px 38px 180px auto;
        //row-gap: 10px;
        column-gap: 20px;

        .testimonials-name {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          font-size: 20px;
        }

        .testimonials-rate {
          grid-row: 2 / 3;
          grid-column: 1 / 2;
          font-size: 16px;
        }

        .testimonials-text {
          font-size: 14px;
          grid-row: 3 / 4;
          grid-column: 1 / 2;
        }

        .testimonials-navigation {
align-self: center;
          justify-self: flex-start;
          grid-row: 4 / 5;
          grid-column: 1 / 2;

        }
        .testimonials-photo {
          align-self: center;
          grid-row: 1 / 5;
          grid-column: 2 / 3;
          width: 100%;
          height: 65%;
          background-position: center;
          background-size: cover;
        }
      }
    }
  }

//-----------order----------//


  .order {
    padding: 50px 0 60px 0;
    .container {
      .order-title {
        font-size: 25px;
        margin-bottom: 35px;
      }
    }
  }


  //-------------Carousel-------------//
  .gallery {

    .gallery-title {
      margin-bottom: 40px;
      font-size: 25px;
      color: @main-color;

    }

    .container {
      .gallery-carousel-pc {
display: none;

      }
      .gallery-carousel-mobile{
        display: block;
        left: 10px;
        .carousel-item-mobile{

          display: flex !important;
          justify-content: space-between;

          .photo-mob{
            width: 30%;
            img{
              width: 100%;
              text-align: center;
              height: 210px;
              object-fit: cover;
            }
          }
        }
      }
    }

  }


  .slick-dots {
    left: calc(50% - 66px);
    bottom: -40px;
  }
  .next {

    bottom: -35px;
    left: calc(50% + 60px);
  }
  .prev {

    bottom: -35px;
    left: calc(50% - 95px);
  }

  .slick-list {
    margin-right: -10px; /* Создаем отрицательный отступ для компенсации */
    margin-left: -10px; /* Создаем отрицательный отступ для компенсации */
  }
  .slick-slide {
    margin-right: 20px; /* Устанавливаем отступ между каждым слайдом */
  }



}


@media screen and (max-width: 560px) {

  //--------------------------video-------------------------//
  .video {
    .container {
      .video-frame {
        width: 100%;
        height: 300px;

      }
    }
  }


  //----------------programs------------------//
  .program {


    .container {
h1{

  text-align: left;
}
      .program-block {
        display: grid;
        justify-items: flex-start;
        column-gap: 10px;
        grid-template-rows: 35px 40px 370px auto 46px;
        justify-content: center;
        grid-template-columns: 100%;
        row-gap: 25px;

        .program-photo {
          justify-self: flex-end;
          align-self: center;
          grid-row: 3 / 4;
          grid-column: 1 / 2;

          top: 0;
          width: 96%;
          height: 325px;

          .day-photo {
            background-size: cover;
            width: 100%;
            height: 325px;

          }
        }

        .program-days {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          margin: 0 0 0 0;
        }

        .program-title {
          align-self: center;
          grid-row: 2 / 3;
          grid-column: 1 / 2;
          margin: 0;
        }

        .program-text {
          height: 130px;
          font-size: 14px;
          grid-row: 4 / 5;
          grid-column: 1 / 2;
        }

        .program-navigation {
          grid-row: 5 / 6;
          grid-column: 1 / 2;
        }

        .program-download {
          font-size: 14px;
          margin: 0 0 0 0;
          align-self: center;
          justify-self: flex-end;
          grid-row: 5 / 6;
          grid-column: 1 / 2;
        }
      }
    }
  }

  .program-photo::before {
    width: 80%;
    height: 370px;
    top: -22px;
    left: -20px;
  }


  //----------------Testimonials-------------//

  .testimonials {
    .testimonials-title {
    }

    .container {
      .testimonials-block {
        padding: 55px;
        grid-template-columns: 100%;
        grid-template-rows: 25px 38px 145px auto 60px;
        row-gap: 10px;
        column-gap: 20px;

        .testimonials-name {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          font-size: 20px;
        }

        .testimonials-rate {
          grid-row: 2 / 3;
          grid-column: 1 / 2;
          font-size: 16px;
        }

        .testimonials-text {
          font-size: 14px;
          grid-row: 3 / 4;
          grid-column: 1 / 2;
        }

        .testimonials-navigation {
          align-self: end;
          justify-self: flex-start;
          grid-row: 5 / 6;
          grid-column: 1 / 2;

        }
        .testimonials-photo {
          align-self: center;
          grid-row: 4 / 5;
          grid-column: 1 / 2;
          width: 100%;
          height: 300px;
          background-position: center;
          background-size: cover;
        }
      }
    }
  }




  .footer {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 25px;
      flex-direction: column;
      align-content: center;
    }
  }


  //-------------Carousel-------------//
  .gallery {
    .gallery-title {
      font-size: 25px;
      color: @main-color;
      margin-bottom: 40px;
    }

    .container {
      .gallery-carousel-pc {
        display: none;

      }
      .gallery-carousel-mobile{
        display: block;
        left: 10px;
        .carousel-item-mobile{

          display: flex !important;
          justify-content: space-between;

          .photo-mob{
            width: 100%;
            img{
              width: 100%;
              text-align: center;
              height: 260px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .photo-none{
    display: none;
  }

  .slick-dots {
    left: calc(50% - 66px);
    bottom: -40px;
  }
  .next {

    bottom: -35px;
    left: calc(50% + 60px);
  }
  .prev {

    bottom: -35px;
    left: calc(50% - 95px);
  }




}


@media screen and (max-width: 460px) {
  //----------------Testimonials-------------//

  .testimonials {
    .testimonials-title {
    }
    .container {
      .testimonials-block {
        padding: 20px;
        grid-template-rows: 25px 38px 155px auto 60px;
        .testimonials-photo {
          width: 100%;
          height: 260px;
        }
      }
    }
  }

}



@media screen and (max-width: 430px) {

  //----------------programs------------------//
  .program {


    .container {
      h1 {
        margin-bottom: 30px;
      }

      .program-block {
        display: grid;
        justify-items: flex-start;
        column-gap: 10px;
        grid-template-rows: 35px 40px 273px auto 46px 30px;
        justify-content: center;
        grid-template-columns: 100%;
        row-gap: 25px;

        .program-photo {
          justify-self: flex-end;
          align-self: center;
          grid-row: 3 / 4;
          grid-column: 1 / 2;

          top: 0;
          width: 90%;
          height: 230px;

          .day-photo {
            background-size: cover;
            width: 100%;
            height: 230px;

          }
        }

        .program-days {

        }

        .program-title {
          align-self: center;

        }

        .program-text {
          height: 165px;

        }

        .program-navigation {

        }

        .program-download {
          align-self: flex-end;
          justify-self: flex-start;
          grid-row: 6 / 7;
          grid-column: 1 / 2;
        }
      }
    }
  }

  .program-photo::before {
    width: 85%;
    height: 273px;
    top: -22px;
    left: -11%;
  }

}



@media screen and (max-width: 400px) {

  //--------------------------video-------------------------//
  .video {
    .container {
      .video-frame {
        width: 100%;
        height: 220px;
      }
    }
  }

  //----------------Testimonials-------------//

  .testimonials {
    .testimonials-title {
    }
    .container {
      .testimonials-block {
        padding: 40px 15px;
        grid-template-rows: 40px 36px 185px auto 116px;
        row-gap: 10px;
        .testimonials-photo {
          width: 100%;
          height: 260px;
        }
      }
    }
  }






//-----------------Order-----------------//


.order {
  padding: 25px 0 80px 0;
  background: url("/assets/images/order-bg.png") no-repeat;
  background-size: cover;

  .container {
    .order-title {

    }

    .order_form {
      display: flex;
      justify-content: center;

      .order-count {
        position: relative;
        gap: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;

        .order__action_title {
          font-size: 16px;
          font-family: Montserrat-Regular, sans-serif;
          color: @main-color;
        }

        .count-radios {
          justify-content: space-between;
          display: flex;
          gap: 10px;
          margin-bottom: 20px;
        }

        .name-input {
          position: relative;
        }

        .number-input {
          position: relative;
        }

        .order__form_btn {
          font-family: Montserrat-Medium, sans-serif;
          font-size: 16px;
          padding: 17px;
          border: 0;
          box-sizing: border-box;
          text-align: center;
          width: 100%;
          background-color: @main-color;
          color: @second-color;
          transition: 0.3s;

          &:hover {
            background-color: rgba(255, 255, 255, 0.73);
            transition: 0.3s;
          }
        }
      }
    }
  }
}

  .form_radio_btn label {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
  }
  .order-success {
    height: 300px;

  }


}


@media screen and (max-width: 375px) {

  //----------------programs------------------//
  .program {
    .container {

      .program-block {
        .program-text {
          height: 200px;
        }

      }
    }
  }

}